.row {
    max-width: 1780px;
    margin-left: auto;
    margin-right: auto;
}


.station_list {
    margin-right: 15px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.station_item {
    width: calc((100% - (6.286%*2)) / 3);
    padding-left: 23px;
    margin-bottom: 70px;
    cursor: pointer;
}

.station_item:nth-child(3n + 1),
.station_item:nth-child(3n + 2) {
    margin-right: 6.286%;
}

.station_item:hover .radio-item::after,
.station_item:hover .radio-item-circle div,
.station_item:hover .frame-side-up-left,
.station_item:hover .frame-side-up,
.station_item:hover .frame-side-up-right,
.station_item:hover .frame-side-right,
.station_item:hover .frame-side-right-bottom,
.station_item:hover .frame-side-bottom-right,
.station_item:hover .frame-side-bottom,
.station_item:hover .frame-side-bottom-left,
.station_item:hover .frame-side-left,
.station_item:hover .block-logo::before,
.station_item:hover .block-logo-bg,
.station_item:hover .favorites,
.station_item:hover .radio-name .line,
.station_item:hover .radio-name .line-side,
.station_item:hover .song-wrapper .line-side,
.station_item:hover .song-wrapper .line,
.station_item:hover .icon-btn.heart-center,
.station_item:hover .icon-btn.share {
    background-color: var(--color-dark);
}

.station_item:hover .radio-name {
    color: var(--color-dark);
}

.station_item:hover .song-name-text {
    color: var(--color-white);
}

.radio-item-wrap {
    height: 100%;
    width: 100%;
}

.radio-item {
    position: relative;
    display: block;
    padding-top: 28px;
    padding-right: 36px;
}

.radio-item::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 155px;
    height: 154px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/right_up.svg) no-repeat right top;
    mask: url(../img/anonce_radio/light/right_up.svg) no-repeat right top;
    background-size: cover !important;
    transition: 0.2s;
}

.radio-item-circle {
    position: absolute;
    top: 0;
    right: 0;
    height: 9px;
    width: 247px;
    display: flex;
    gap: 20px;
}

.radio-item-circle div {
    width: 9px;
    height: 9px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/circle.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/circle.svg) no-repeat center center;
    background-size: cover !important;
    border-radius: 50%;
    transition: 0.2s;
}

.frame {
    padding: 50px;
    height: 220px;
    position: relative;
    padding: 9px;
}

.frame-side-up-left {
    position: absolute;
    top: 0;
    left: 4px;
    width: 195px;
    height: 16.33px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-up-left.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-up-left.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-up {
    position: absolute;
    top: 4px;
    left: 192px;
    right: 58.59px;
    height: 8.17px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-up.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-up.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-up-right {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 58.59px;
    height: 59.87px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-up-right.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-up-right.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-right {
    position: absolute;
    top: 61px;
    right: 4px;
    bottom: 4px;
    width: 8.17px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-right.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-right.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-right-bottom {
    position: absolute;
    bottom: 4px;
    right: 0;
    width: 16.33px;
    height: 56.12px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-righ-bottom.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-right-bottom.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-bottom-right {
    position: absolute;
    bottom: 0;
    right: 4px;
    height: 16.33px;
    width: 112.37px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-bottom-right.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-bottom-right.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-bottom {
    position: absolute;
    bottom: 4px;
    right: 4px;
    left: 87px;
    height: 8.17px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-up.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-up.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-bottom-left {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 87.43px;
    height: 86.57px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-bottom-left.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-bottom-left.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-side-left {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 88px;
    width: 8.17px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/frame-side-right.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/frame-side-right.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: 0.2s;
}

.frame-img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    object-fit: cover;
    display: block;
    clip-path: polygon(0 0,
            calc(100% - 55px) 0,
            100% 58px,
            100% 100%,
            85px 100%,
            0 calc(100% - 85px));
}

.frame-block-wrap {
    position: relative;
}

.block-logo {
    position: absolute;
    top: -2px;
    left: -23px;
    width: 106px;
    height: 85px;
    z-index: 1;
    display: inline-block;
}

.block-logo::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/left_up_up.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/left_up_up.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 300;
    transition: 0.2s;
}

.block-logo-bg {
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/left_up.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/left_up.svg) no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: 0.2s;
}

.block-logo-item {
    background-size: cover !important;
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
}

.favorites {
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/left_down.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/left_down.svg) no-repeat center center;
    width: 42px;
    height: 40px;
    z-index: 20;
    cursor: pointer;
    transition: 0.2s;
}

.radio-name {
    font-size: 37px;
    color: var(--color-light);
    font-family: var(--main-font);
    font-weight: 700;
    padding-right: 56px;
    height: 84px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 0.9em;
}

.radio-name .line-wrap {
    position: absolute;
    top: 5px;
    left: 0;
    right: 2px;
    bottom: 0;
}

.radio-name .line {
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    width: calc(100% - 54px);
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/line_up.svg) no-repeat bottom right;
    mask: url(../img/anonce_radio/light/line_up.svg) no-repeat bottom right;
}

.radio-name .line-side {
    position: absolute;
    right: -7px;
    top: 0;
    bottom: 0;
    width: 59px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/line_up_side.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/line_up_side.svg) no-repeat center center;
}

.song-wrapper .line-wrap {
    position: absolute;
    top: 13px;
    left: -44px;
    right: 0;
    bottom: 0;
}

.song-wrapper .line-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 59px;
    transform: scaleX(-1);
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/line_up_side.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/line_up_side.svg) no-repeat center center;
}

.song-wrapper .line {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 54px);
    transform: scaleX(-1);
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/line_up.svg) no-repeat bottom right;
    mask: url(../img/anonce_radio/light/line_up.svg) no-repeat bottom right;
}

.song-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 91px;
}

.song-name {
    width: calc(93.5% - 138px);
    z-index: 100;
    height: 75px;
    overflow: hidden;
}

.song-name-text {
    font-size: 32px;
    color: var(--color-light);
    font-family: 'Golos', sans-serif;
    font-weight: 700;
    line-height: 1em;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to left, transparent, #1b1b1b 170px);
    mask-image: linear-gradient(to left, transparent, #1b1b1b 170px);
}

.icons {
    display: flex;
    z-index: 100;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon-btn.heart {
    width: 29.09px;
    height: 24.19px;
    background: url(../img/anonce_radio/light/right_down_left.svg) no-repeat center center;
    transition: 0.2s;
    margin-right: 19px;
}

.icon-btn.heart-center {
    width: 32.59px;
    height: 24.28px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/right_down_center.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/right_down_center.svg) no-repeat center center;
    transition: 0.2s;
    margin-right: 29px;
}

.icon-btn.share {
    width: 27.8px;
    height: 22.89px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/right_down_right.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/right_down_right.svg) no-repeat center center;
    transition: 0.2s;
}

@media (max-width: 1600px) {

    .radio-name {
        font-size: 32px;
    }

    .song-name {
        height: auto;
    }

    .song-name-text {
        font-size: 28px;
    }

}

@media (max-width: 1500px) {

.station_item:nth-child(3n + 2),.station_item:nth-child(3n + 1) {
    margin-right: 0;
}

.station_item:nth-child(2n + 1) {
    margin-right: 6.286%;
}

.station_item {
    width: calc((100% - 6.286%) / 2);
}

}

@media (max-width: 1080px) {

.station_item:nth-child(2n + 1) {
    margin-right: 0;
}

.station_item {
    width: 100%;
}

.row {
    max-width: 905px;
}

.frame {
    height: 350px;
}

.song-wrapper {
    height: 150px;
}

.song-wrapper .line-side {
    width: 84px;
}

.song-wrapper .line {
    width: calc(100% - 84px);
}

}

@media screen and (prefers-color-scheme: dark) {

    .frame::before {
        border-color: var(--color-dark);
    }

    .radio-name,
    .meniu-item a,
    .block-title,
    .apps-item-title,
    .apps-item-text {
        color: var(--color-dark);
    }

    .song-name-text {
        color: var(--color-white);
    }

    .meniu-item::before {
        background-color: var(--color-dark);
    }

    .radio-item::after {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/right_up.svg) no-repeat right top;
        mask: url(../img/anonce_radio/dark/right_up.svg) no-repeat right top;
    }

    .block-logo-bg {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/left_up.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/left_up.svg) no-repeat center center;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .block-logo::before {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/left_up_up.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/left_up_up.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .favorites {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/left_down.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/left_down.svg) no-repeat center center;
    }

    .icon-btn.heart-center {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/right_down_center.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/right_down_center.svg) no-repeat center center;
    }

    .icon-btn.share {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/right_down_right.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/right_down_right.svg) no-repeat center center;
    }

    .radio-name .line,
    .song-wrapper .line {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/line_up.svg) no-repeat bottom right;
        mask: url(../img/anonce_radio/dark/line_up.svg) no-repeat bottom right;
    }

    .radio-name .line-side,
    .song-wrapper .line-side {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/line_up_side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/line_up_side.svg) no-repeat center center;
    }

    .radio-item-circle div {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/circle.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/circle.svg) no-repeat center center;
    }

    .frame-side-up-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-up-left.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-up {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-up.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-up.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-up-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-up-right.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-up-right.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-right.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-right.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-right-bottom {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-righ-bottom.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-right-bottom.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-bottom-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-bottom-right.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-bottom-right.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-bottom {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-up.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-up.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-bottom-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-bottom-left.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-bottom-left.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .frame-side-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/frame-side-right.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/frame-side-right.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

}