.apps-block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 0 19px;
    margin-bottom: 46px;
}

.apps-item {
    min-height: 319px;
    padding: 34px 15px;
    position: relative;
}

.apps-item::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: -1px;
    width: 50%;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/app-right.svg) no-repeat right bottom;
    mask: url(../img/anonce_radio/light/app-right.svg) no-repeat right bottom;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.apps-item::before {
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/app-left.svg) no-repeat top left;
    mask: url(../img/anonce_radio/light/app-left.svg) no-repeat top left;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.apps-item:nth-child(1) .apps-item-img {
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/tv.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/tv.svg) no-repeat center center;
}

.apps-item:nth-child(2) .apps-item-img {
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/phone.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/phone.svg) no-repeat center center;
}

.apps-item:nth-child(3) .apps-item-img {
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/radio.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/radio.svg) no-repeat center center;
}

.apps-item:nth-child(4) .apps-item-img {
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/auto.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/auto.svg) no-repeat center center;
}

.apps-item-img {
    height: 101.5px;
    margin-bottom: 16px;
}

.apps-item-title {
    text-transform: uppercase;
}

.apps-item-title,
.apps-item-text {
    font-size: 20px;
    color: var(--color-light);
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 29px;
    font-family: var(--main-font);
    font-weight: 500;
}

.apps-item-text {
    font-weight: 400;
}

@media (max-width: 1480px) {

    .app-row {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    .apps-block {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        padding: 0 19px;
        margin-bottom: 46px;
    }

}

@media (max-width: 1080px) {

    .app-row {
        max-width: 835px;
    }

    .apps-block {
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
        padding: 0 10px;
    }

    .apps-item {
        min-height: 623px;
        padding: 46px 15px;
        position: relative;
    }

    .apps-item-img {
        height: 200px;
        margin-bottom: 39px;
    }

    .apps-item-title {
        font-size: 37px;
        line-height: 42px;
        margin-bottom: 13px;
    }

    .apps-item-text {
        font-size: 32.45px;
        line-height: 1;
    }

    .apps-item::before,
    .apps-item::after {
        display: none;
    }

    .mob-bg-top {
        position: absolute;
        top: 0;
        left: 45px;
        right: 46px;
        height: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-left {
        position: absolute;
        top: 46px;
        left: 0;
        bottom: 46px;
        width: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-right {
        position: absolute;
        top: 46px;
        right: 0;
        bottom: 46px;
        width: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-bottom {
        position: absolute;
        bottom: 0;
        left: 46px;
        right: 45px;
        height: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46px;
        height: 46px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 46px;
        height: 46px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: scaleX(-1);
    }

    .mob-bg-up-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-up-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 46px;
        height: 46px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: scaleY(-1);
    }

    .mob-bg-line-left-bottom {
        position: absolute;
        bottom: 46px;
        left: -10px;
        height: 120px;
        width: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-line-left-up {
        position: absolute;
        top: 46px;
        left: -10px;
        height: 120px;
        width: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-line-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
        height: 265px;
        width: 1px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .black-corner-up {
        position: absolute;
        top: 6px;
        right: 3px;
        width: 29px;
        height: 29px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/black-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/black-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .black-corner-down {
        position: absolute;
        bottom: 18px;
        left: 18px;
        width: 29px;
        height: 29px;
        background-color: var(--color-light);
        -webkit-mask: url(../img/anonce_radio/light/black-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/light/black-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

}

@media screen and (prefers-color-scheme: dark) {

    .apps-item::after {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-right.svg) no-repeat right bottom;
        mask: url(../img/anonce_radio/dark/app-right.svg) no-repeat right bottom;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .apps-item::before {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-left.svg) no-repeat top left;
        mask: url(../img/anonce_radio/dark/app-left.svg) no-repeat top left;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .apps-item:nth-child(1) .apps-item-img {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/tv.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/tv.svg) no-repeat center center;
    }

    .apps-item:nth-child(2) .apps-item-img {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/phone.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/phone.svg) no-repeat center center;
    }

    .apps-item:nth-child(3) .apps-item-img {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/radio.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/radio.svg) no-repeat center center;
    }

    .apps-item:nth-child(4) .apps-item-img {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/auto.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/auto.svg) no-repeat center center;
    }

    .mob-bg-bottom-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
    }

    .mob-bg-bottom-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: scaleX(-1);
    }

    .mob-bg-up-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-up-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/app-corner.svg) no-repeat center center;
    }

    .mob-bg-top {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-bottom {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-line-left-bottom {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-line-left-up {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .mob-bg-line-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/border-tb.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .black-corner-up {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/black-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/black-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .black-corner-down {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/black-corner.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/black-corner.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

}