.player-bg {
    position: relative;
}

/* .player-info-container {
    position: absolute;
    bottom: 16px;
    left: 0;
    display: flex;
}

.player-info-container::before {
    position: absolute;
    content: '';
    left: 0;
    top: -23px;
    width: 16px;
    height: 16px;
    background-color: var(--color-dark);
    -webkit-mask: url(../../img/player/triangle.svg) no-repeat center center;
    mask: url(../../img/player/triangle.svg) no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.player-radio-logo-block {
    width: 142.5px;
    height: 94.5px;
    background-color: var(--color-dark);
    -webkit-mask: url(../../img/player/player-logo-bg.svg) no-repeat center center;
    mask: url(../../img/player/player-logo-bg.svg) no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    padding: 7px 8.5px 7px 0;
    position: relative;
}

.player-radio-logo {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    clip-path: polygon(89% 0, 100% 18%, 100% 81%, 88% 100%, 0 100%, 0 0)
}

.player-song-info-block {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1em;
    height: 87px;
    padding-right: 25px;
    margin-top: 3.75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.player-song-info-block::before {
    position: absolute;
    content: '';
    top: 12px;
    bottom: 12px;
    right: 23.64px;
    left: 183px;
    background-size: cover !important;
	background: url(../../img/player/player-song-info.svg) no-repeat center center;
}

.player-song-info-block::after {
    position: absolute;
    content: '';
    top: 12px;
    bottom: 12px;
    right: 0;
    width: 23px;
    background-size: cover !important;
	background: url(../../img/player/player-song-info-corner.svg) no-repeat center center;
}



.player-time {
    height: 55.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-dark);
    position: relative;
    z-index: 5;
}

.player-time span {
    height: 100%;
    position: relative;
    padding-right: 20px;
    padding-left: 40px;
    display: flex;
    align-items: center; 
    z-index: -1;
}

.player-time span::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    width: 170px;
    background-size: contain !important;
	background: url(../../img/player/player-time.svg) no-repeat center center;
    z-index: -1;
}

.player-info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 20px;
    position: relative;
    gap: 10px;
}

.player-info-group::after {
    position: absolute;
    content: '';
    left: 0;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-size: cover !important;
	background: url(../../img/player/song-info-middle.svg) no-repeat center center;
}

.player-radio-info {
    color: var(--color-dark);
    position: relative;
    z-index: 5;
}

.player-song-info {
    color: var(--color-white);
    position: relative;
    z-index: 5;
}

.player-song-info-right {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    padding-right: 25px;
    height: 58px;
    z-index: 10;
}

.player-song-info-right::before {
    position: absolute;
    content: '';
    top: -3px;
    left: -15px;
    right: 0;
    bottom: -3px;
    background: url(../../img/player/player-song-info-right.svg) no-repeat right center;
    background-size: cover !important;
    z-index: -1;
}

.player-favorite {
    width: 36px;
    height: 33.75px;
    background-color: var(--color-dark);
    -webkit-mask: url(../../img/anonce_radio/light/left_down.svg) no-repeat center center;
    mask: url(../../img/anonce_radio/light/left_down.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    cursor: pointer;
    z-index: 10;
}

.player-like {
    width: 40.59px;
    height: 33.75px;
    background: url(../../img/anonce_radio/light/right_down_left.svg) no-repeat center center;
    background-size: cover !important;
    cursor: pointer;
    z-index: 10;
}

.player-unlike {
    width: 45.3px;
    height: 33.75px;
    background-color: var(--color-white);
    -webkit-mask: url(../../img/anonce_radio/light/right_down_center.svg) no-repeat center center;
    mask: url(../../img/anonce_radio/light/right_down_center.svg) no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    cursor: pointer;
    z-index: 10
    ;
}

.player-back-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 203.5px;
    height: 61.5px;
    background: url(../../img/player/player-back.svg) no-repeat center center;
    background-size: cover !important;
}

.player-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 45px;
    background: url(../../img/player/player-logo.svg) no-repeat center center;
    background-size: cover !important;
} */

.history-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 252px;
    background: url(../../img/player/hystory-bg-shadow.svg) no-repeat center center;
    background-size: cover !important;
}

.history-container::before {
    position: absolute;
    content: '';
    top: 0;
    right: 100%;
    height: 20px;
    width: 1px;
    background: url(../../img/player/h-top-line.svg) no-repeat center center;
    background-size: cover !important;
}

.history-container::after {
    position: absolute;
    content: '';
    top: 48px;
    right: 100%;
    bottom: 0;
    width: 1px;
    background: url(../../img/player/h-bottom-line.svg) no-repeat top center;
    background-size: cover !important;
}

.history-button {
    position: absolute;
    right: 100%;
    top: 20px;
    height: 28px;
    width: 148px;
    background: url(../../img/player/history-button.svg) no-repeat center center;
    background-size: cover !important;
    font-size: 1em;
    color: var(--color-dark);
    text-transform: uppercase;
    font-family: var(--header-font);
    line-height: 28px;
    padding-left: 34px;
}

.history-button::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 15px;
    height: 10px;
    background: url(../../img/player/hamburger.svg) no-repeat center center;
    background-size: cover !important;
}

.history-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 129px;
    height: 35.5px;
    background: url(../../img/player/h-close.svg) no-repeat center center;
    background-size: cover !important;
}

.history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-top: 65px;
}

.history-item {
    width: 177px;
}

.history-item-image {
    width: 100%;
    height: 95.2px;
    background: url(../../img/player/h-item.svg) no-repeat center center;
    background-size: cover !important;
}

.history-item-title {
    font-size: 1em;
    line-height: 20px;
    color: var(--color-dark);
    font-family: var(--header-font);
    padding: 5px 10px;
    position: relative;
}

.history-item-title span {
    display: block;
    position: relative;
}

.history-item-title span::after {
    position: absolute;
    content: '';
    left: -10px;
    right: -10px;
    bottom: -5px;
    height: 23px;
    background: url(../../img/player/item-title.svg) no-repeat bottom center;
    background-size: contain !important;
}

.history-item-title::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    bottom: 4px;
    width: 2px;
    background: url(../../img/player/item-title-left.svg) no-repeat center center;
    background-size: cover !important;
}

.history-item-title::after {
    position: absolute;
    content: '';
    top: -10px;
    right: 0;
    bottom: 11px;
    width: 1px;
    background: url(../../img/player/item-title-right.svg) no-repeat center center;
    background-size: cover !important;
}