@import "meniu.css";
@import "apps.css";
@import "player_pause_menu/player_pause_menu.css";
@import "anonce_video.css";
@import "player_info/player_info.css";
@import "player_share/player_share.css";
@import "player_buttons/player_buttons.css";
@import "player-list.css";
@import "radio_info.css";

radio_info


.block-title {
    font-size: 71px;
    font-family: var(--header-font);
    color: var(--color-light);
    letter-spacing: -5.5px;
    text-align: center;
    margin-bottom: 22px;
}

.block-title span {
    position: relative;
    padding: 0 5.5%;
}

.block-title span::after {
    position: absolute;
    content: '';
    top: 25px;
    right: 0;
    width: 46px;
    height: 29.52px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.block-title span::before {
    position: absolute;
    content: '';
    top: 25px;
    left: 0;
    width: 46px;
    height: 29.52px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: scaleX(-1);
}

.middle-line-block {
    width: 100%;
    height: 22px;
    margin-bottom: 62px;
    display: flex;
}

.middle-line-left {
    height: 100%;
    width: 182.76px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center left;
    mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center left;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.middle-line {
    width: calc(50% - 182px - 31px);
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle.svg) no-repeat center left;
    mask: url(../img/anonce_radio/light/middle.svg) no-repeat center left;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 3px;
    margin-top: 9px;
}

.middle-line.side-right {
    width: calc(50% - 182.76px - 31px);
    transform: scaleX(-1);
}

.middle-item {
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-box.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/middle-box.svg) no-repeat center center;
    width: 62px;
    height: 19px;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.middle-line-right {
    height: 100%;
    width: 182.76px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center right;
    mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center right;
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: scaleX(-1);
}

.header-down-line.mob {
    display: none;
}

.page-bottom {
    width: 100%;
    height: 36px;
    display: none;
    align-items: flex-end;
    margin-top: 23px;
}

.page-bottom-left {
    width: 203px;
    height: 36px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/page-bottom-right.svg) repeat center center;
    mask: url(../img/anonce_radio/light/page-bottom-right.svg) repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: scaleX(-1);
}

.page-bottom-center {
    width: calc(100% - 406px);
    height: 4px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/mob-header-top.svg) repeat center center;
    mask: url(../img/anonce_radio/light/mob-header-top.svg) repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.page-bottom-right {
    width: 203px;
    height: 36px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/page-bottom-right.svg) repeat center center;
    mask: url(../img/anonce_radio/light/page-bottom-right.svg) repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

@media (max-width: 1080px) {

    .block-title {
        font-size: 32px;
    }

    .block-title span {
        position: relative;
        padding: 0 50px
    }

    .block-title span::before, .block-title span::after {
        width: 34px;
        height: 21.82px;
        top: 50%;
        transform: translateY(-50%);
    }

    .block-title span::before {
        transform: translateY(-50%) scaleX(-1) !important;
    }

    .header-down-line.mob {
        display: flex;
        padding: 0 35px;
        margin-bottom: 130px;
    }

    .header-down-line.down {
        margin-bottom: 0;
        transform: scaleY(-1);
    }

    .page-bottom {
        display: flex;
    }

}

@media (max-width: 650px) {

    .block-title {
        font-size: 32px;
    }

    .block-title span {
        padding: 0 50px
    }

    .block-title span::before, .block-title span::after {
        width: 34px;
        height: 21.82px;
        top: 50%;
        transform: translateY(-50%);
    }

    .block-title span::before {
        transform: translateY(-50%) scaleX(-1) !important;
    }

}

@media screen and (prefers-color-scheme: dark) {

    .block-title {
        color: var(--color-dark);
    }

    .block-title span::after {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .block-title span::before {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: scaleX(-1);
    }

    .middle-line-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .middle-line {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle.svg) no-repeat center left;
        mask: url(../img/anonce_radio/dark/middle.svg) no-repeat center left;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .middle-item {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-box.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/middle-box.svg) no-repeat center center;
    }

    .middle-line-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center left;
        mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center left;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .page-bottom-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/page-bottom-right.svg) repeat center center;
        mask: url(../img/anonce_radio/dark/page-bottom-right.svg) repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .page-bottom-center {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/mob-header-top.svg) repeat center center;
        mask: url(../img/anonce_radio/dark/mob-header-top.svg) repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .page-bottom-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/page-bottom-right.svg) repeat center center;
        mask: url(../img/anonce_radio/dark/page-bottom-right.svg) repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

}