@import "meniu.css";
@import "apps.css";

.block-title {
    font-size: 71px;
    font-family: var(--header-font);
    color: var(--color-light);
    letter-spacing: -5.5px;
    text-align: center;
    margin-bottom: 22px;
}

.block-title span {
    position: relative;
    padding: 0 5.5%;
}

.block-title span::after {
    position: absolute;
    content: '';
    top: 25px;
    right: 0;
    width: 46px;
    height: 29.52px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.block-title span::before {
    position: absolute;
    content: '';
    top: 25px;
    left: 0;
    width: 46px;
    height: 29.52px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/quotes.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: scaleX(-1);
}

.middle-line-block {
    width: 100%;
    height: 38.53px;
    margin-bottom: 62px;
    display: flex;
}

.middle-line-left {
    height: 100%;
    width: 320.32px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.middle-line {
    height: 6.45px;
    width: calc(50% - 320.32px - 53px);
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle.svg) no-repeat center left;
    mask: url(../img/anonce_radio/light/middle.svg) no-repeat center left;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-top: 16px;
}

.middle-line.side-right {
    width: calc(50% - 320.32px - 53px);
    transform: scaleX(-1);
}

.middle-item {
    margin-top: 2px;
    width: 110px;
    height: 32.1328px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-box.svg) no-repeat center center;
    mask: url(../img/anonce_radio/light/middle-box.svg) no-repeat center center;
}

.middle-line-right {
    height: 100%;
    width: 320.32px;
    background-color: var(--color-light);
    -webkit-mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center left;
    mask: url(../img/anonce_radio/light/middle-side.svg) no-repeat center left;
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: scaleX(-1);
}

@media screen and (prefers-color-scheme: dark) {

    .block-title span::after {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .block-title span::before {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/quotes.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: scaleX(-1);
    }

    .middle-line-left {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center center;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .middle-line {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle.svg) no-repeat center left;
        mask: url(../img/anonce_radio/dark/middle.svg) no-repeat center left;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    .middle-item {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-box.svg) no-repeat center center;
        mask: url(../img/anonce_radio/dark/middle-box.svg) no-repeat center center;
    }

    .middle-line-right {
        background-color: var(--color-dark);
        -webkit-mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center left;
        mask: url(../img/anonce_radio/dark/middle-side.svg) no-repeat center left;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

}