.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

.popup-form {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font) !important;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}

.popup-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.form-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.form-title-wrap {
  flex: 0 0 245px;
  height: 90px;
  padding: 20px 20px 0 20px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/title-bg.svg) no-repeat left top;
  mask: url(../img/popup/title-bg.svg) no-repeat left top;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.form-dots {
  display: none;
  position: absolute;
  left: 250px;
  top: 0;
}

.form-dots::before {
  content: '• • • •';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: var(--color-light);
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.form-title {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-white);
  line-height: 1;
  font-family: var(--header-font);
  word-spacing: -5px;
}

.form-description {
  flex: 1;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-light);
  line-height: 13px;
  margin: 0;
  user-select: text;
  font-family: var(--main-font) !important;
  padding-top: 10px;
  text-align: justify;
  padding-right: 20px;
}

.form-description strong {
  font-weight: 700;
  font-family: var(--header-font);
}


.close-btn {
  width: 30px;
  height: 30px;
  background: url(../img/popup/cross.svg) no-repeat center center;
  background-size: contain !important;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-btn:hover {
  color: #ff3b3b;
}

.popup-form-element {
  height: 100%;
  margin-bottom: 80px;
  overflow-y: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
  position: relative;
  z-index: 10;
  margin-top: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group.has-scroll {
  top: auto;
  transform: translateY(0);
}

.field-wrapper {
  position: relative;
  padding: 1px 10px;
  margin-bottom: 15px;
}

.field-wrapper:last-child {
  margin-bottom: 0;
}


.field-wrapper input,
.field-wrapper textarea {
  width: 100%;
  padding: 10px 4px;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1em;
  color: var(--color-light);
  border: none;
  outline: none;
  font-family: var(--main-font);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 10;
}

.field-wrapper input {
  height: 48px;
  background: transparent;
}

.field-wrapper textarea {
  height: 165px;
  resize: none;
  background: transparent;
}

.field-border,
.field-border-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.field-border-error,
.field-border-error-bg,
.field-border-text-error,
.field-border-text-error-bg {
  position: absolute;
  top: -3px;
  left: -4px;
  right: -4px;
  bottom: -3px;
}

.field-border-inner,
.field-border-error-inner,
.field-border-error-bg-inner,
.field-border-text-inner,
.field-border-text-error-inner,
.field-border-text-error-bg-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.field-border::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 11px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.field-border::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: scaleX(-1);
}

.field-border-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
}

.field-border-inner::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
}

.field-border-error::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 13px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: none;
}

.field-border-error::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 13px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  mask: url(../img/popup/input-border-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: scaleX(-1);
  display: none;
}


.field-border-error-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 13px;
  right: 13px;
  height: 1px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  display: none;
}

.field-border-error-inner::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 13px;
  right: 13px;
  height: 1px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  display: none;
}

.field-border-error-bg::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 12px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-bg-side.svg) no-repeat left center;
  mask: url(../img/popup/error-bg-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: none;
}

.field-border-error-bg::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-bg-side.svg) no-repeat left center;
  mask: url(../img/popup/error-bg-side.svg) no-repeat left center;
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: scaleX(-1);
  display: none;
}

.field-border-error-bg-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 12px;
  right: 12px;
  bottom: 0;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-bg.svg) no-repeat left center;
  mask: url(../img/popup/error-bg.svg) no-repeat left center;
  -webkit-mask-size: cover;
  mask-size: cover;
  display: none;
}

.field-border-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 11px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/text-side.svg) no-repeat right top;
  mask: url(../img/popup/text-side.svg) no-repeat right top;
  -webkit-mask-size: cover;
  mask-size: cover;
  transform: scaleX(-1);
}

.field-border-text::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/text-side.svg) no-repeat right top;
  mask: url(../img/popup/text-side.svg) no-repeat right top;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.field-border-text-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
}

.field-border-text-inner::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
}

.field-border-text-error::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 13px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/text-side.svg) no-repeat right top;
  mask: url(../img/popup/text-side.svg) no-repeat right top;
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: scaleX(-1);
  display: none;
}

.field-border-text-error::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 13px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/text-side.svg) no-repeat right top;
  mask: url(../img/popup/text-side.svg) no-repeat right top;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: none;
}

.field-border-text-error-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  display: none;
}

.field-border-text-error-inner::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  mask: url(../img/popup/input-border-line.svg) repeat-x left bottom / auto 1px;
  display: none;
}

.field-border-text-error-bg::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 12px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-text-side.svg) no-repeat right center;
  mask: url(../img/popup/error-text-side.svg) no-repeat right center;
  -webkit-mask-size: contain;
  mask-size: contain;
  transform: scaleX(-1);
  display: none;
}

.field-border-text-error-bg::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-text-side.svg) no-repeat right center;
  mask: url(../img/popup/error-text-side.svg) no-repeat right center;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: none;
}

.field-border-text-error-bg-inner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 12px;
  right: 12px;
  bottom: 0;
  background-color: var(--color-red);
  -webkit-mask: url(../img/popup/error-bg.svg) no-repeat left center;
  mask: url(../img/popup/error-bg.svg) no-repeat left center;
  -webkit-mask-size: cover;
  mask-size: cover;
  display: none;
}

.field-wrapper:not(.invalid):hover .field-border::before,
.field-wrapper:not(.invalid):focus-within .field-border::before,
.field-wrapper:not(.invalid):active .field-border::before,

.field-wrapper:not(.invalid):hover .field-border::after,
.field-wrapper:not(.invalid):focus-within .field-border::after,
.field-wrapper:not(.invalid):active .field-border::after,

.field-wrapper:not(.invalid):hover .field-border-text::before,
.field-wrapper:not(.invalid):focus-within .field-border-text::before,
.field-wrapper:not(.invalid):active .field-border-text::before,

.field-wrapper:not(.invalid):hover .field-border-text::after,
.field-wrapper:not(.invalid):focus-within .field-border-text::after,
.field-wrapper:not(.invalid):active .field-border-text::after,

.field-wrapper:not(.invalid):hover .field-border-inner::before,
.field-wrapper:not(.invalid):focus-within .field-border-inner::before,
.field-wrapper:not(.invalid):active .field-border-inner::before,

.field-wrapper:not(.invalid):hover .field-border-inner::after,
.field-wrapper:not(.invalid):focus-within .field-border-inner::after,
.field-wrapper:not(.invalid):active .field-border-inner::after,

.field-wrapper:not(.invalid):hover .field-border-text-inner::before,
.field-wrapper:not(.invalid):focus-within .field-border-text-inner::before,
.field-wrapper:not(.invalid):active .field-border-text-inner::before,

.field-wrapper:not(.invalid):hover .field-border-text-inner::after,
.field-wrapper:not(.invalid):focus-within .field-border-text-inner::after,
.field-wrapper:not(.invalid):active .field-border-text-inner::after {
  background-color: var(--color-hover);
}

.field-wrapper.invalid .field-border-error::before,
.field-wrapper.invalid .field-border-error::after,
.field-wrapper.invalid .field-border-error-inner::before,
.field-wrapper.invalid .field-border-error-inner::after,
.field-wrapper.invalid .field-border-error-bg::before,
.field-wrapper.invalid .field-border-error-bg::after,
.field-wrapper.invalid .field-border-error-bg-inner::before,
.field-wrapper.invalid .field-border-text-error::before,
.field-wrapper.invalid .field-border-text-error::after,
.field-wrapper.invalid .field-border-text-error-bg::before,
.field-wrapper.invalid .field-border-text-error-bg::after,
.field-wrapper.invalid .field-border-text-error::before,
.field-wrapper.invalid .field-border-text-error::after,
.field-wrapper.invalid .field-border-text-error-inner::before,
.field-wrapper.invalid .field-border-text-error-inner::after,
.field-wrapper.invalid .field-border-text-error-bg::before,
.field-wrapper.invalid .field-border-text-error-bg::after,
.field-wrapper.invalid .field-border-text-error-bg-inner::before {
  display: block;
}

.field-wrapper.invalid::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/popup/star.svg) no-repeat center center;
  background-size: cover !important;
  pointer-events: none;
  user-select: none;
}

/* Футер с чекбоксом и кнопкой */
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  flex-wrap: nowrap;
  padding-left: 25px;
  z-index: 10;
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--color-light);
  font-family: var(--main-font);
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-bottom: 10px;
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  width: 28px;
  height: 28px;
  background-image: url('../img/popup/checkbox.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-custom::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 5px;
  width: 27px;
  height: 23px;
  background-image: url('../img/popup/checkbox-check.svg');
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.form-footer-right {
  display: flex;
  align-items: baseline;
  gap: 12px;
  flex-shrink: 0;
}

.error-text {
  color: #e74c3c;
  font-size: 13px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.success-text {
  color: #27ae60;
  font-size: 13px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Кнопка отправки */
button[type="submit"] {
  width: 150px;
  height: 55px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/button.svg) no-repeat right bottom;
  mask: url(../img/popup/button.svg) no-repeat right bottom;
  -webkit-mask-size: contain;
  mask-size: contain;
  padding: 10px 10px 0 10px;
  font-size: 1em;
  font-family: var(--header-font);
  font-weight: 400;
  line-height: 1;
  letter-spacing: -2px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  text-align: right;
}

button[type="submit"]:hover {
  background-color: var(--color-hover);
}

.popup-border-left {
  position: absolute;
  top: 113px;
  left: 25px;
  width: 21px;
  height: 150px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-left.svg) no-repeat top left;
  mask: url(../img/popup/popup-border-left.svg) no-repeat top left;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-left-left {
  position: absolute;
  top: 260px;
  bottom: 26px;
  left: 25px;
  width: 2px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-right.svg) no-repeat center center;
  mask: url(../img/popup/popup-border-right.svg) no-repeat center center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-bottom {
  position: absolute;
  left: 25px;
  right: 187px;
  bottom: 25px;
  height: 2px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-bottom.svg) repeat left bottom;
  mask: url(../img/popup/popup-border-bottom.svg) repeat left bottom;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-bottom-right {
  position: absolute;
  right: 24px;
  bottom: 16px;
  height: 87px;
  width: 165px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-bottom-right.svg) no-repeat center center;
  mask: url(../img/popup/popup-border-bottom-right.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.popup-border-top-right {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 34px;
  width: 34px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-top-right.svg) no-repeat bottom left;
  mask: url(../img/popup/popup-border-top-right.svg) no-repeat bottom left;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-right {
  position: absolute;
  top: 57px;
  bottom: 91px;
  right: 24px;
  width: 2px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-right.svg) no-repeat center center;
  mask: url(../img/popup/popup-border-right.svg) no-repeat center center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-top {
  position: absolute;
  right: 56px;
  left: 233px;
  top: 25px;
  height: 2px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/popup-border-bottom.svg) no-repeat left center;
  mask: url(../img/popup/popup-border-bottom.svg) no-repeat left center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.popup-border-underline {
  position: absolute;
  bottom: 38px;
  right: 180px;
  width: 580px;
  height: 45px;
  background-color: var(--color-light);
  -webkit-mask: url(../img/popup/under-line.svg) no-repeat right bottom;
  mask: url(../img/popup/under-line.svg) no-repeat right bottom;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.error-wrap {
  padding-right: 15px;
}

.popup-form.modify .form-title-wrap {
  -webkit-mask: url(../img/popup/mob-top-left.svg) no-repeat left top;
  mask: url(../img/popup/mob-top-left.svg) no-repeat left top;
  flex: 0 0 150px;
  padding: 10px 20px 0 20px;
}

.popup-form.modify .popup-border-top {
  left: 40px;
}

.popup-form.modify .form-dots {
  display: block;
  left: 160px;

}

@media (max-width: 1080px) and (orientation: portrait) {

  .form-header {
    flex-wrap: wrap;
    position: relative;
  }

  .form-dots {
    display: block;
  }

  .form-description {
    flex: 0 0 100%;
    order: 4;
    padding: 0 40px;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .popup-form.modify .popup-border-left {
    top: 112px;
    width: 21px;
  }

  .popup-form.modify .form-group {
    margin-top: -60px;
  }

}

@media (max-width: 830px) and (orientation: portrait) {

  .popup-border-underline {
    width: auto;
    left: 50px;
  }

}

@media (max-width: 768px) and (orientation: portrait) {

  .popup-form {
    padding: 10px;
  }

  .form-description {
    padding: 0 30px;
  }

  .popup-border-left {
    left: 10px;
    top: 99px;
  }

  .popup-border-left-left {
    left: 10px;
    top: 240px;
    bottom: 10px;
  }

  .popup-border-right {
    right: 10px;
    bottom: 68px;
    top: 43px;
  }

  .popup-border-bottom {
    left: 10px;
    bottom: 10px;
    right: 156px;
  }

  .popup-border-top {
    top: 10px;
    right: 43px;
  }

  .popup-border-top-right {
    top: 10px;
    right: 10px;
  }

  .form-footer {
    bottom: 10px;
    left: 10px;
    right: 10px;
    flex-wrap: wrap;
    gap: 0;
    flex-direction: column;
  }

  .popup-border-bottom-right {
    right: 10px;
    bottom: -3px;
    height: 87px;
    width: 147px;
  }

  button[type="submit"] {
    width: 140px;
    height: 49px;
  }

  .popup-border-underline {
    bottom: 18px;
    right: 145px;
  }

  .checkbox-label,
  .form-footer-right {
    width: 100%;
    margin-bottom: 0;
  }

  .error-wrap {
    width: calc(100% - 130px);
    padding-right: 0;
  }

  .popup-form-element {
    margin-bottom: 100px;
  }

  .popup-form.modify .popup-border-left {
      top: 97px;
    }

}

@media (max-width: 500px) and (orientation: portrait) {

  .form-footer-right {
    flex-direction: column;
  }

  button[type="submit"] {
    align-self: flex-end;
  }

  .form-footer-right {
    gap: 0;
  }

  .checkbox-label {
    margin-bottom: 10px;
  }

  .error-wrap {
    width: 100%;
    margin-bottom: 10px;
  }

  .popup-form-element {
    margin-bottom: 130px;
  }

  .checkbox-custom {
    width: 21px;
    height: 21px;
    background-image: url('../img/popup/checkbox.svg');
  }

  .checkbox-label input[type="checkbox"]:checked+.checkbox-custom::after {
    width: 14px;
    height: 12px;
    top: 3px;
  }

  .field-wrapper.invalid::after {
    right: 10px;
    width: 10px;
    height: 10px;
  }

  .field-wrapper input,
  .field-wrapper textarea {
    padding-right: 15px;
  }

  .form-group {
    padding: 0 12px;
  }

  .form-title-wrap {
    flex: 0 0 200px;
    height: 73px;
    padding: 15px 10px 0 10px
  }

  .popup-border-left {
    left: 10px;
    top: 83px;
    width: 17px;
  }
    .popup-border-left-left {
        top: 220px;
    }
    .popup-border-top {
        left: 200px;
    }

    .field-wrapper input {
      height: 41px;
    }

    .field-border-inner::before, .field-border-inner::after {
      left: 9px;
      right: 9px;
    }

    .field-border-error-bg-inner::before, .field-border-error-inner::before, .field-border-error-inner::after {
      left: 11px;
      right: 11px;
    }

    .field-wrapper {
      margin-bottom: 10px;
    }

    .popup-form.modify .form-title-wrap {
      height: 90px;
    }

    .popup-form.modify .form-group {
        padding: 0 12px 0 30px;
    }

}

@media screen and (prefers-color-scheme: dark) {

  .form-title-wrap,
  .popup-border-left,
  .popup-border-bottom,
  .popup-border-top,
  .popup-border-bottom-right,
  .popup-border-right,
  .popup-border-top-right,
  .popup-border-underline,
  .popup-border-underline-mob,
  .popup-border-underline-right,
  .field-border::before,
  .field-border::after,
  .field-border-text::before,
  .field-border-text-inner::before,
  .field-border-text-inner::after,
  .field-border-text::after,
  .field-border-inner::before,
  .field-border-inner::after,
  button[type="submit"],
  .popup-border-left-left {
    background-color: var(--color-dark);
  }

  .form-title,
  button[type="submit"] {
    color: var(--color-light);
  }

  .form-description {
    color: var(--color-white);
  }

  .field-wrapper input::placeholder,
  .field-wrapper textarea::placeholder {
    color: var(--color-dark);
  }

  .field-wrapper input::-webkit-input-placeholder,
  .field-wrapper textarea::-webkit-input-placeholder {
    color: var(--color-dark);
  }

  .field-wrapper input::-moz-placeholder,
  .field-wrapper textarea::-moz-placeholder {
    color: var(--color-dark);
  }

  .field-wrapper input:-ms-input-placeholder,
  .field-wrapper textarea:-ms-input-placeholder {
    color: var(--color-dark);
  }

  .field-wrapper input:-moz-placeholder,
  .field-wrapper textarea:-moz-placeholder {
    color: var(--color-dark);
  }

  .checkbox-label,
  .form-dots::before,
  .field-wrapper input,
  .field-wrapper textarea {
    color: var(--color-dark);
  }

  .checkbox-custom {
    background-image: url(../img/popup/dark/checkbox.svg);
  }

  .checkbox-label input[type="checkbox"]:checked+.checkbox-custom::after {
    background-image: url('../img/popup/dark/checkbox-check.svg');
  }

  .close-btn {
    background: url(../img/popup/dark/cross.svg) no-repeat center center;
  }

}