.player-bg {
    position: relative;
}

.player-info-container {
    position: absolute;
    bottom: 12px;
    left: 0;
    display: flex;
    justify-content: center;
}

.player-radio-logo-block {
    width: 91px;
    height: 58px;
    margin-bottom: 10px;
    position: relative;
}

.player-radio-logo-block::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
	background: url(../../img/player_info/logo-border.svg) no-repeat center center;
}

.player-radio-logo {
    position: absolute;
    top: 8px;
    left: 1.5px;
    right: 1.5px;
    bottom: 8px;
    background-size: cover !important;
}

.player-song-info-block {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 0.5em;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.player-song-info-block::before {
    position: absolute;
    content: '';
    top: -1px;
    left: 3px;
    height: 68px;
    width: 200.62px;
    background-size: cover !important;
	background: url(../../img/player_info/player-info-border.svg) no-repeat center center;
}

.player-time-wrap {
    padding-left: 12px;
    height: 58px;
}

.player-time {
    margin-top: 15px;
    width: 57.21px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--color-dark);
    position: relative;
    z-index: 5;
    background-size: cover !important;
	background: url(../../img/player_info/time-bg.svg) no-repeat center center;
}

.player-time::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-size: cover !important;
	background: url(../../img/player_info/time-corner.svg) no-repeat center center;
}

.player-info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 26px;
    padding-right: 20px;
    position: relative;
    gap: 10px;
}

.player-radio-info {
    color: var(--color-dark);
}

.player-radio-info::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: -18px;
    width: 285.50px;
    height: 10.5px;
    background-size: cover !important;
	background: url(../../img/player_info/radio-info-line.svg) no-repeat center center;
}

.player-song-info {
    color: var(--color-white);
}